.container{
  height: 100%;

  display: flex;
  padding: 60px;
  background-color: transparent!important;
  min-height: 60vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;


}
.title{
  padding-bottom: 100px;
  font-size: 40px;
  font-weight:bolder;
}

.checkout-form {

  height: 100%;
  width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;

  }
  
  form {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
  }
  
  label {
    margin-right: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;


  }
  .item{
    padding-left: 30px;
    padding-right: 30px;
  }
  
  input[type="text"] {
    font-size: 18px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  
  button[type="submit"],
  button {
    background: #5260fd;
    border-radius: 8px;
    border-color: #5260fd;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #fff;
    padding: 10px 16px;
  }
  
  button[type="submit"]:hover,
  button:hover {
    background-color: #0d6efd;
  }
  
  .cart {
    margin-top: 20px;
    width: 100%;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  thead {
    background-color: #5260fd;
    color: #fff;
    border-radius: 20px;
  }
  
  th {
    padding: 10px;
  }
  
  td {
    padding: 5px;
    text-align: center;
  }
  
  .total {
    margin-top: 20px;
    text-align: right;
  }
  
  h2 {
    margin-bottom: 10px;
  }
  
  h3 {
    margin: 0;
  }
  